Repository theopenlane/openlane-infra, changes with the labels that .github/labeler.yaml gives for each.
All labels: gcp-bootstrap, argocd, gcp-compute-address, gcp-gke-cluster, gcp-project-base, gcp-workload-identity, cert-manager, gcp-bucket, gcp-compute-router, gcp-iam-policy-members, gcp-service-account, external-dns, gcp-cloud-nat, gcp-config-controller, gcp-lb, gcp-subnetwork, gcp-bigquery, gcp-cloudsql-postgresql, gcp-dns-zone, gcp-memorystore-redis, gcp-vpc-network

Publishing chart package for openlane-eso-0.1.0
  openlane-eso-0.1.0.tgz
Labels: none

Publishing chart package for openlane-eso-0.1.1
  openlane-eso-0.1.1.tgz
Labels: none

Publishing chart package for openlane-external-dns-0.1.3
  openlane-external-dns-0.1.3.tgz
Labels: none

Publishing chart package for openlane-prometheus-crds-0.1.0
  openlane-prometheus-crds-0.1.0.tgz
Labels: none

Update index.yaml
  index.yaml
Labels: none

core v0.22.5
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

core v0.22.5 (#88)
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

Delete openlane-gcp-lb-0.1.1.tgz
  openlane-gcp-lb-0.1.1.tgz
Labels: none

Delete openlane-gcp-lb-0.1.0.tgz
  openlane-gcp-lb-0.1.0.tgz
Labels: none

Delete openlane-gcp-kcc-0.1.1.tgz
  openlane-gcp-kcc-0.1.1.tgz
Labels: none

Delete openlane-gcp-kcc-0.1.0.tgz
  openlane-gcp-kcc-0.1.0.tgz
Labels: none

Delete openlane-alertmanager-0.1.0.tgz
  openlane-alertmanager-0.1.0.tgz
Labels: none

Delete openlane-gcp-project-0.1.0.tgz
  openlane-gcp-project-0.1.0.tgz
Labels: none

Delete gcp-project-base-0.1.1.tgz
  gcp-project-base-0.1.1.tgz
Labels: none

Delete gcp-project-base-0.1.0.tgz
  gcp-project-base-0.1.0.tgz
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update _config.yaml
  _config.yaml
Labels: none

Update index.md
  index.md
Labels: none

add windmill chart
  README.md
  charts/cert-manager/HELM.md
  charts/cert-manager/values.yaml
  charts/windmill/.helmignore
  charts/windmill/Chart.lock
  charts/windmill/Chart.yaml
  charts/windmill/HELM.md
  charts/windmill/HELM.md.gotmpl
  charts/windmill/README.md
  charts/windmill/Taskfile.yaml
  charts/windmill/charts/windmill-2.0.439.tgz
  charts/windmill/ct.yaml
  charts/windmill/templates/external_secret.yaml
  charts/windmill/templates/gateway.yaml
  charts/windmill/templates/httproute.yaml
  charts/windmill/values.yaml
  configs/ct.yaml
  scripts/entrypoint.sh
Labels: cert-manager

add actual external secret
  charts/windmill/templates/external_secret.yaml
Labels: none

windmill chart
  charts/windmill/templates/gateway.yaml
Labels: none

add windmill chart to pipeline testing
  configs/ct.yaml
Labels: none

templates dir
  charts/grafana/templates/.gitkeep
Labels: none

pass the linter
  charts/external-dns/Chart.lock
  charts/external-dns/Chart.yaml
  charts/external-dns/HELM.md
  charts/external-dns/values.yaml
  charts/gcp-bucket/values.yaml
  charts/gcp-cloud-nat/HELM.md
  charts/gcp-cloud-nat/charts/openlane-gcp-compute-router-0.1.0.tgz
  charts/gcp-cloud-nat/charts/openlane-gcp-compute-router-0.1.1.tgz
  charts/gcp-gke-cluster/values.yaml
  charts/gcp-subnetwork/values.yaml
  charts/gcp-vpc-network/values.yaml
  charts/grafana/HELM.md
  charts/grafana/charts/grafana-9.2.10.tgz
  charts/grafana/charts/grafana-9.2.2.tgz
  charts/grafana/charts/oauth2-proxy-7.12.17.tgz
  charts/grafana/charts/oauth2-proxy-7.12.19.tgz
  charts/openfga/HELM.md
  charts/openfga/charts/openfga-0.2.36.tgz
  charts/openfga/charts/openfga-0.2.38.tgz
Labels: gcp-gke-cluster, gcp-bucket, external-dns, gcp-cloud-nat, gcp-subnetwork, gcp-vpc-network

try just the chart name
  configs/ct.yaml
Labels: none

Feat windmill (#89)
  README.md
  charts/cert-manager/HELM.md
  charts/cert-manager/values.yaml
  charts/external-dns/Chart.lock
  charts/external-dns/HELM.md
  charts/external-dns/values.yaml
  charts/gcp-bucket/values.yaml
  charts/gcp-cloud-nat/HELM.md
  charts/gcp-cloud-nat/charts/openlane-gcp-compute-router-0.1.0.tgz
  charts/gcp-cloud-nat/charts/openlane-gcp-compute-router-0.1.1.tgz
  charts/gcp-gke-cluster/values.yaml
  charts/gcp-subnetwork/values.yaml
  charts/gcp-vpc-network/values.yaml
  charts/grafana/HELM.md
  charts/grafana/charts/grafana-9.2.10.tgz
  charts/grafana/charts/grafana-9.2.2.tgz
  charts/grafana/charts/oauth2-proxy-7.12.17.tgz
  charts/grafana/charts/oauth2-proxy-7.12.19.tgz
  charts/grafana/templates/.gitkeep
  charts/openfga/HELM.md
  charts/openfga/charts/openfga-0.2.36.tgz
  charts/openfga/charts/openfga-0.2.38.tgz
  charts/windmill/.helmignore
  charts/windmill/Chart.lock
  charts/windmill/Chart.yaml
  charts/windmill/HELM.md
  charts/windmill/HELM.md.gotmpl
  charts/windmill/README.md
  charts/windmill/Taskfile.yaml
  charts/windmill/charts/windmill-2.0.439.tgz
  charts/windmill/ct.yaml
  charts/windmill/templates/external_secret.yaml
  charts/windmill/templates/httproute.yaml
  charts/windmill/values.yaml
  configs/ct.yaml
  scripts/entrypoint.sh
Labels: gcp-gke-cluster, cert-manager, gcp-bucket, external-dns, gcp-cloud-nat, gcp-subnetwork, gcp-vpc-network

Publishing chart package for openlane-windmill-1.0.0
  openlane-windmill-1.0.0.tgz
Labels: none

Update index.yaml
  index.yaml
Labels: none

remove ct install step
  .github/workflows/lint-and-test.yml
Labels: none

remove ct install step (#91)
  .github/workflows/lint-and-test.yml
Labels: none

core release: 0.23.0
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

core release: 0.23.0 (#93)
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

deps: core v0.23.1 release
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

deps: core v0.23.1 release (#94)
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

all the flags
  charts/openfga/values.yaml
Labels: none

dcs
  charts/openfga/HELM.md
Labels: none

fix idents
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: none

trailing space
  charts/openfga/values.yaml
Labels: none

all the flags (#95)
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: none

chore: update Helm chart from core config changes
  charts/openlane/CHANGELOG.md
  charts/openlane/Chart.yaml
  charts/openlane/templates/core-configmap.yaml
  charts/openlane/templates/external-secrets/external-secrets.yaml
  charts/openlane/values.yaml
Labels: none

.github/labeler.yaml:

gcp-bootstrap:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bootstrap/**

argocd:
  - changed-files:
      - any-glob-to-any-file: charts/argocd/**

gcp-compute-address:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-address/**

gcp-gke-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-gke-cluster/**

gcp-project-base:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-project-base/**

gcp-workload-identity:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-workload-identity/**

cert-manager:
  - changed-files:
      - any-glob-to-any-file: charts/cert-manager/**

gcp-bucket:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bucket/**

gcp-compute-router:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-router/**

gcp-iam-policy-members:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-iam-policy-members/**

gcp-service-account:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-service-account/**

external-dns:
  - changed-files:
      - any-glob-to-any-file: charts/external-dns/**

gcp-cloud-nat:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloud-nat/**

gcp-config-controller:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-config-controller/**

gcp-lb:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-lb/**

gcp-subnetwork:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-subnetwork/**

gcp-bigquery:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bigquery/**

gcp-cloudsql-postgresql:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloudsql-postgresql/**

gcp-dns-zone:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-dns-zone/**

gcp-memorystore-redis:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-memorystore-redis/**

gcp-vpc-network:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-vpc-network/**
