Repository theopenlane/openlane-infra, changes with the labels that .github/labeler.yaml gives for each.
All labels: gcp-bootstrap, argocd, gcp-compute-address, gcp-gke-cluster, gcp-project-base, gcp-workload-identity, cert-manager, gcp-bucket, gcp-compute-router, gcp-iam-policy-members, gcp-service-account, external-dns, gcp-cloud-nat, gcp-config-controller, gcp-lb, gcp-subnetwork, gcp-bigquery, gcp-cloudsql-postgresql, gcp-dns-zone, gcp-memorystore-redis, gcp-vpc-network

.github/labeler.yaml:

gcp-bootstrap:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bootstrap/**

argocd:
  - changed-files:
      - any-glob-to-any-file: charts/argocd/**

gcp-compute-address:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-address/**

gcp-gke-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-gke-cluster/**

gcp-project-base:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-project-base/**

gcp-workload-identity:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-workload-identity/**

cert-manager:
  - changed-files:
      - any-glob-to-any-file: charts/cert-manager/**

gcp-bucket:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bucket/**

gcp-compute-router:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-router/**

gcp-iam-policy-members:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-iam-policy-members/**

gcp-service-account:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-service-account/**

external-dns:
  - changed-files:
      - any-glob-to-any-file: charts/external-dns/**

gcp-cloud-nat:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloud-nat/**

gcp-config-controller:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-config-controller/**

gcp-lb:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-lb/**

gcp-subnetwork:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-subnetwork/**

gcp-bigquery:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bigquery/**

gcp-cloudsql-postgresql:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloudsql-postgresql/**

gcp-dns-zone:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-dns-zone/**

gcp-memorystore-redis:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-memorystore-redis/**

gcp-vpc-network:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-vpc-network/**

no namespaces (#48)
  argo-apps/grafana.yaml
  argo-apps/openfga.yaml
  charts/grafana/templates/namespace.yaml
  charts/openfga/templates/namespace.yaml
  charts/openlane/templates/namespace.yaml
Labels: none

remove resource with no crds
  charts/openfga/templates/externalsecret.yaml
  charts/openlane/templates/servicemonitor.yaml
Labels: none

remove resource with no crds (#49)
  charts/openfga/templates/externalsecret.yaml
  charts/openlane/templates/servicemonitor.yaml
Labels: none

ref ClusterSecretStore
  charts/openfga/templates/externalsecret.yaml
  charts/openlane/templates/secretstore.yaml
Labels: none

ref ClusterSecretStore (#50)
  charts/openfga/templates/externalsecret.yaml
  charts/openlane/templates/secretstore.yaml
Labels: none

case matters plus nesting
  charts/openfga/Chart.yaml
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: none

case matters plus nesting (#51)
  charts/openfga/Chart.yaml
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: none

no metrics ARGGGGGGHHH
  charts/cert-manager/HELM.md
  charts/cert-manager/values.yaml
  charts/external-dns/HELM.md
  charts/external-dns/values.yaml
  charts/grafana/HELM.md
  charts/grafana/values.yaml
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: cert-manager, external-dns

no metrics ARGGGGGGHHH (#52)
  charts/cert-manager/HELM.md
  charts/cert-manager/values.yaml
  charts/external-dns/HELM.md
  charts/external-dns/values.yaml
  charts/grafana/HELM.md
  charts/grafana/values.yaml
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: cert-manager, external-dns

preshared keys
  charts/openfga/HELM.md
  charts/openfga/templates/externalsecret.yaml
  charts/openfga/values.yaml
Labels: none

preshared keys (#53)
  charts/openfga/HELM.md
  charts/openfga/templates/externalsecret.yaml
  charts/openfga/values.yaml
Labels: none

flip to init container
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: none

flip to init container (#54)
  charts/openfga/HELM.md
  charts/openfga/values.yaml
Labels: none

try deployment
  charts/openlane/templates/deployment.yaml
  charts/openlane/templates/ingress.yaml
  charts/openlane/templates/service.yaml
Labels: none

try deployment (#55)
  charts/openlane/templates/deployment.yaml
  charts/openlane/templates/ingress.yaml
  charts/openlane/templates/service.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

fix template
  charts/openlane/templates/_helpers.tpl
  charts/openlane/templates/deployment.yaml
Labels: none

fix template (#56)
  charts/openlane/templates/_helpers.tpl
  charts/openlane/templates/deployment.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update ingress.yaml
  charts/openlane/templates/ingress.yaml
Labels: none

sync waves and new rev
  charts/openlane/templates/deployment.yaml
  charts/openlane/templates/ingress.yaml
  charts/openlane/templates/managedcertificate.yaml
  charts/openlane/templates/secretstore.yaml
  charts/openlane/templates/service.yaml
Labels: none

sync waves and new rev (#57)
  charts/openlane/templates/deployment.yaml
  charts/openlane/templates/ingress.yaml
  charts/openlane/templates/managedcertificate.yaml
  charts/openlane/templates/secretstore.yaml
  charts/openlane/templates/service.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

flip to gateway, add redis secrets
  charts/argocd/HELM.md
  charts/argocd/backup/gke-cluster-secret.yaml
  charts/argocd/ingress.yaml
  charts/argocd/templates/argohttproute.yaml
  charts/argocd/templates/gateway.yaml
  charts/argocd/values.yaml
  charts/grafana/HELM.md
  charts/grafana/values.yaml
  charts/openfga/Chart.yaml
  charts/openfga/HELM.md
  charts/openfga/values.yaml
  charts/openlane/templates/deployment.yaml
  charts/openlane/templates/httproute.yaml
  charts/openlane/templates/ingress.yaml
  charts/openlane/templates/managedcertificate.yaml
  charts/openlane/templates/secretstore.yaml
  charts/openlane/templates/service.yaml
Labels: argocd

flip to gateway, add redis secrets (#58)
  charts/argocd/HELM.md
  charts/argocd/backup/gke-cluster-secret.yaml
  charts/argocd/ingress.yaml
  charts/argocd/templates/argohttproute.yaml
  charts/argocd/templates/gateway.yaml
  charts/argocd/values.yaml
  charts/grafana/HELM.md
  charts/grafana/values.yaml
  charts/openfga/Chart.yaml
  charts/openfga/HELM.md
  charts/openfga/values.yaml
  charts/openlane/templates/deployment.yaml
  charts/openlane/templates/httproute.yaml
  charts/openlane/templates/ingress.yaml
  charts/openlane/templates/managedcertificate.yaml
  charts/openlane/templates/secretstore.yaml
  charts/openlane/templates/service.yaml
Labels: argocd

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update httproute.yaml
  charts/openlane/templates/httproute.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update httproute.yaml
  charts/openlane/templates/httproute.yaml
Labels: none

Update httproute.yaml
  charts/openlane/templates/httproute.yaml
Labels: none

Update httproute.yaml
  charts/openlane/templates/httproute.yaml
Labels: none

Update httproute.yaml
  charts/openlane/templates/httproute.yaml
Labels: none

Update httproute.yaml
  charts/openlane/templates/httproute.yaml
Labels: none

Update httproute.yaml
  charts/openlane/templates/httproute.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

Update secretstore.yaml
  charts/openlane/templates/secretstore.yaml
Labels: none
