Repository theopenlane/openlane-infra, changes with the labels that .github/labeler.yaml gives for each.
All labels: gcp-bootstrap, argocd, gcp-compute-address, gcp-gke-cluster, gcp-project-base, gcp-workload-identity, cert-manager, gcp-bucket, gcp-compute-router, gcp-iam-policy-members, gcp-service-account, external-dns, gcp-cloud-nat, gcp-config-controller, gcp-lb, gcp-subnetwork, gcp-bigquery, gcp-cloudsql-postgresql, gcp-dns-zone, gcp-memorystore-redis, gcp-vpc-network

.github/labeler.yaml:

gcp-bootstrap:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bootstrap/**

argocd:
  - changed-files:
      - any-glob-to-any-file: charts/argocd/**

gcp-compute-address:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-address/**

gcp-gke-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-gke-cluster/**

gcp-project-base:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-project-base/**

gcp-workload-identity:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-workload-identity/**

cert-manager:
  - changed-files:
      - any-glob-to-any-file: charts/cert-manager/**

gcp-bucket:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bucket/**

gcp-compute-router:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-router/**

gcp-iam-policy-members:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-iam-policy-members/**

gcp-service-account:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-service-account/**

external-dns:
  - changed-files:
      - any-glob-to-any-file: charts/external-dns/**

gcp-cloud-nat:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloud-nat/**

gcp-config-controller:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-config-controller/**

gcp-lb:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-lb/**

gcp-subnetwork:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-subnetwork/**

gcp-bigquery:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bigquery/**

gcp-cloudsql-postgresql:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloudsql-postgresql/**

gcp-dns-zone:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-dns-zone/**

gcp-memorystore-redis:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-memorystore-redis/**

gcp-vpc-network:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-vpc-network/**

revert dependency bump
  charts/cert-manager/Chart.yaml
  charts/cert-manager/HELM.md
  charts/external-dns/Chart.yaml
  charts/external-dns/HELM.md
  charts/gcp-cloud-nat/Chart.yaml
  charts/gcp-cloud-nat/HELM.md
  charts/gcp-gke-cluster/Chart.yaml
  charts/gcp-gke-cluster/HELM.md
Labels: gcp-gke-cluster, cert-manager, external-dns, gcp-cloud-nat

revert dependency bump (#36)
  charts/cert-manager/Chart.yaml
  charts/cert-manager/HELM.md
  charts/external-dns/Chart.yaml
  charts/external-dns/HELM.md
  charts/gcp-cloud-nat/Chart.yaml
  charts/gcp-cloud-nat/HELM.md
  charts/gcp-gke-cluster/Chart.yaml
  charts/gcp-gke-cluster/HELM.md
Labels: gcp-gke-cluster, cert-manager, external-dns, gcp-cloud-nat

Publishing chart package for gcp-project-base-0.1.1
  gcp-project-base-0.1.1.tgz
Labels: none

Publishing chart package for openlane-argocd-0.1.2
  openlane-argocd-0.1.2.tgz
Labels: none

Publishing chart package for openlane-cert-manager-0.1.2
  openlane-cert-manager-0.1.2.tgz
Labels: none

Publishing chart package for openlane-external-dns-0.1.2
  openlane-external-dns-0.1.2.tgz
Labels: none

Publishing chart package for openlane-gcp-bigquery-0.1.1
  openlane-gcp-bigquery-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-bootstrap-0.1.1
  openlane-gcp-bootstrap-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-bucket-0.1.1
  openlane-gcp-bucket-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-cloud-nat-0.1.2
  openlane-gcp-cloud-nat-0.1.2.tgz
Labels: none

Publishing chart package for openlane-gcp-cloudsql-0.1.1
  openlane-gcp-cloudsql-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-compute-address-0.1.1
  openlane-gcp-compute-address-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-compute-router-0.1.1
  openlane-gcp-compute-router-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-dns-zone-0.1.1
  openlane-gcp-dns-zone-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-gke-cluster-0.1.2
  openlane-gcp-gke-cluster-0.1.2.tgz
Labels: none

Publishing chart package for openlane-gcp-iam-policy-members-0.1.1
  openlane-gcp-iam-policy-members-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-kcc-0.1.1
  openlane-gcp-kcc-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-lb-0.1.1
  openlane-gcp-lb-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-memorystore-0.1.1
  openlane-gcp-memorystore-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-service-account-0.1.1
  openlane-gcp-service-account-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-subnetwork-0.1.1
  openlane-gcp-subnetwork-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-vpc-network-0.1.1
  openlane-gcp-vpc-network-0.1.1.tgz
Labels: none

Publishing chart package for openlane-gcp-workload-identity-0.1.1
  openlane-gcp-workload-identity-0.1.1.tgz
Labels: none

Update index.yaml
  index.yaml
Labels: none

try and add kind cluster action
  .github/workflows/lint-and-test.yml
Labels: none

try and add kind cluster action (#37)
  .github/workflows/lint-and-test.yml
Labels: none

Create CNAME
  CNAME
Labels: none

try and publish webpage for charts
  _config.yaml
  _data/index.yaml
  index.md
Labels: none

remove yamlfmt
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .gitignore
  .pre-commit-config.yaml
  .yamlfmt
  Dockerfile.tools
  charts/argocd/resources/grafana-dashboards/argocd.json
  charts/cert-manager/resources/grafana-dashboards/cert-manager.json
  charts/cert-manager/resources/prometheus-rules/certificate-expiration.yaml
  charts/cert-manager/tests/prometheus/test_cert_manager_up.yaml
  charts/cert-manager/tests/prometheus/test_certificate_expiration.yaml
  charts/external-dns/resources/prometheus-rules/bad-auth-gcp.yaml
  charts/external-dns/tests/prometheus/test_cert_bad_auth_gcp.yaml
  charts/external-dns/tests/prometheus/test_external_dns_up.yaml
  charts/gcp-bootstrap/templates/_helpers.tpl
  charts/gcp-bucket/tests/pluto/values.yaml
  charts/gcp-cloudsql-postgresql/tests/pluto/values.yaml
  charts/gcp-dns-zone/templates/_helpers.tpl
  charts/gcp-dns-zone/tests/pluto/values.yaml
  charts/gcp-gke-cluster/templates/NOTES.txt
  charts/gcp-lb/templates/_helpers.tpl
  charts/gcp-project-base/templates/_helpers.tpl
  charts/gcp-service-account/.helmignore
  charts/gcp-subnetwork/.helmignore
  charts/gcp-subnetwork/templates/_helpers.tpl
  docs/manifests.md
  docs/rationale.md
  scripts/add-repos.sh
  scripts/bootstrap-config-controller.sh
  scripts/entrypoint.sh
  scripts/generate_outputs.sh
  scripts/helm-docs.sh
  scripts/lint.sh
  scripts/openlane-chart.sh
Labels: gcp-bootstrap, argocd, gcp-gke-cluster, gcp-project-base, cert-manager, gcp-bucket, gcp-service-account, external-dns, gcp-lb, gcp-subnetwork, gcp-cloudsql-postgresql, gcp-dns-zone

task precommit full
  charts/gcp-dns-zone/templates/compute-address.yaml
Labels: gcp-dns-zone

Feat precommitufll (#38)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .gitignore
  .pre-commit-config.yaml
  .yamlfmt
  Dockerfile.tools
  charts/argocd/resources/grafana-dashboards/argocd.json
  charts/cert-manager/resources/grafana-dashboards/cert-manager.json
  charts/cert-manager/resources/prometheus-rules/certificate-expiration.yaml
  charts/cert-manager/tests/prometheus/test_cert_manager_up.yaml
  charts/cert-manager/tests/prometheus/test_certificate_expiration.yaml
  charts/external-dns/resources/prometheus-rules/bad-auth-gcp.yaml
  charts/external-dns/tests/prometheus/test_cert_bad_auth_gcp.yaml
  charts/external-dns/tests/prometheus/test_external_dns_up.yaml
  charts/gcp-bootstrap/templates/_helpers.tpl
  charts/gcp-bucket/tests/pluto/values.yaml
  charts/gcp-cloudsql-postgresql/tests/pluto/values.yaml
  charts/gcp-dns-zone/templates/_helpers.tpl
  charts/gcp-dns-zone/templates/compute-address.yaml
  charts/gcp-dns-zone/tests/pluto/values.yaml
  charts/gcp-gke-cluster/templates/NOTES.txt
  charts/gcp-lb/templates/_helpers.tpl
  charts/gcp-project-base/templates/_helpers.tpl
  charts/gcp-service-account/.helmignore
  charts/gcp-subnetwork/.helmignore
  charts/gcp-subnetwork/templates/_helpers.tpl
  docs/manifests.md
  docs/rationale.md
  scripts/add-repos.sh
  scripts/bootstrap-config-controller.sh
  scripts/entrypoint.sh
  scripts/generate_outputs.sh
  scripts/helm-docs.sh
  scripts/lint.sh
  scripts/openlane-chart.sh
Labels: gcp-bootstrap, argocd, gcp-gke-cluster, gcp-project-base, cert-manager, gcp-bucket, gcp-service-account, external-dns, gcp-lb, gcp-subnetwork, gcp-cloudsql-postgresql, gcp-dns-zone

fix misspelling
  _config.yaml
Labels: none

docs link
  charts/gcp-bigquery/Chart.yaml
  charts/gcp-bigquery/HELM.md
  charts/gcp-bootstrap/Chart.yaml
  charts/gcp-bootstrap/HELM.md
  charts/gcp-bucket/Chart.yaml
  charts/gcp-bucket/HELM.md
  charts/gcp-cloud-nat/Chart.yaml
  charts/gcp-cloud-nat/HELM.md
  charts/gcp-cloudsql-postgresql/Chart.yaml
  charts/gcp-cloudsql-postgresql/HELM.md
  charts/gcp-compute-address/Chart.yaml
  charts/gcp-compute-address/HELM.md
  charts/gcp-compute-router/Chart.yaml
  charts/gcp-compute-router/HELM.md
  charts/gcp-config-controller/Chart.yaml
  charts/gcp-config-controller/HELM.md
  charts/gcp-dns-zone/Chart.yaml
  charts/gcp-dns-zone/HELM.md
  charts/gcp-gke-cluster/Chart.yaml
  charts/gcp-gke-cluster/HELM.md
  charts/gcp-iam-policy-members/Chart.yaml
  charts/gcp-iam-policy-members/HELM.md
  charts/gcp-lb/Chart.yaml
  charts/gcp-lb/HELM.md
  charts/gcp-memorystore-redis/Chart.yaml
  charts/gcp-memorystore-redis/HELM.md
  charts/gcp-project-base/Chart.yaml
  charts/gcp-project-base/HELM.md
  charts/gcp-service-account/Chart.yaml
  charts/gcp-service-account/HELM.md
  charts/gcp-subnetwork/Chart.yaml
  charts/gcp-subnetwork/HELM.md
Labels: gcp-bootstrap, gcp-compute-address, gcp-gke-cluster, gcp-project-base, gcp-bucket, gcp-compute-router, gcp-iam-policy-members, gcp-service-account, gcp-cloud-nat, gcp-config-controller, gcp-lb, gcp-subnetwork, gcp-bigquery, gcp-cloudsql-postgresql, gcp-dns-zone, gcp-memorystore-redis

fix
  README.md
  argo-apps/external-dns.yaml
  charts/eso/HELM.md
  charts/eso/values.yaml
  charts/grafana/HELM.md
  charts/grafana/values.yaml
  charts/openfga/HELM.md
  charts/openfga/values.yaml
  charts/openlane/HELM.md
  charts/openlane/templates/secretstore.yaml
Labels: none

lets not commit our secrets
  charts/argocd/HELM.md
  charts/argocd/values.yaml
Labels: argocd

fix cluster secret
  charts/eso/templates/serviceaccount.yaml
Labels: none

fix cluster secret (#46)
  charts/eso/templates/serviceaccount.yaml
Labels: none

add secret store and commented values
  charts/eso/README.md
  charts/openfga/HELM.md
  charts/openfga/values.yaml
  charts/openlane/HELM.md
  charts/openlane/templates/servicemonitor.yaml
  charts/openlane/values.yaml
Labels: none

add secret store and commented values (#47)
  charts/eso/README.md
  charts/openfga/HELM.md
  charts/openfga/values.yaml
  charts/openlane/HELM.md
  charts/openlane/templates/servicemonitor.yaml
  charts/openlane/values.yaml
Labels: none

no namespaces
  argo-apps/grafana.yaml
  argo-apps/openfga.yaml
  charts/grafana/templates/namespace.yaml
  charts/openfga/templates/namespace.yaml
  charts/openlane/templates/namespace.yaml
Labels: none
