Repository theopenlane/openlane-infra, changes with the labels that .github/labeler.yaml gives for each.
All labels: gcp-bootstrap, argocd, gcp-compute-address, gcp-gke-cluster, gcp-project-base, gcp-workload-identity, cert-manager, gcp-bucket, gcp-compute-router, gcp-iam-policy-members, gcp-service-account, external-dns, gcp-cloud-nat, gcp-config-controller, gcp-lb, gcp-subnetwork, gcp-bigquery, gcp-cloudsql-postgresql, gcp-dns-zone, gcp-memorystore-redis, gcp-vpc-network

.github/labeler.yaml:

gcp-bootstrap:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bootstrap/**

argocd:
  - changed-files:
      - any-glob-to-any-file: charts/argocd/**

gcp-compute-address:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-address/**

gcp-gke-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-gke-cluster/**

gcp-project-base:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-project-base/**

gcp-workload-identity:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-workload-identity/**

cert-manager:
  - changed-files:
      - any-glob-to-any-file: charts/cert-manager/**

gcp-bucket:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bucket/**

gcp-compute-router:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-compute-router/**

gcp-iam-policy-members:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-iam-policy-members/**

gcp-service-account:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-service-account/**

external-dns:
  - changed-files:
      - any-glob-to-any-file: charts/external-dns/**

gcp-cloud-nat:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloud-nat/**

gcp-config-controller:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-config-controller/**

gcp-lb:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-lb/**

gcp-subnetwork:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-subnetwork/**

gcp-bigquery:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-bigquery/**

gcp-cloudsql-postgresql:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-cloudsql-postgresql/**

gcp-dns-zone:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-dns-zone/**

gcp-memorystore-redis:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-memorystore-redis/**

gcp-vpc-network:
  - changed-files:
      - any-glob-to-any-file: charts/gcp-vpc-network/**

Update secretstore.yaml
  charts/openlane/templates/secretstore.yaml
Labels: none

Update secretstore.yaml
  charts/openlane/templates/secretstore.yaml
Labels: none

Update deployment.yaml
  charts/openlane/templates/deployment.yaml
Labels: none

external dns uplift
  argo-apps/external-dns.yaml
  charts/external-dns/HELM.md
  charts/external-dns/README.md
  charts/external-dns/newupstreamvalues.yaml
  charts/external-dns/test.yaml
  charts/external-dns/values.yaml
  charts/grafana/openlane.yaml
  charts/grafana/templates/managedcertificate.yaml
  charts/openlane/HELM.md
  charts/openlane/openlane.yaml
  charts/openlane/templates/_helpers.tpl
  charts/openlane/templates/openlane-service.yaml
  charts/openlane/templates/openlane.yaml
  charts/openlane/templates/riverboat-secret.yaml
  charts/openlane/templates/riverboat-ui-secret.yaml
  charts/openlane/templates/riverboat-ui.yaml
  charts/openlane/templates/riverboat.yaml
  charts/openlane/templates/riverboatui-httproute.yaml
  charts/openlane/templates/riverboatui-service.yaml
  charts/openlane/values.yaml
Labels: external-dns

remove templates
  charts/external-dns/templates/grafana-configmap-dashboards.yaml
  charts/external-dns/templates/prometheus-rules.yaml
Labels: external-dns

remove the IAM bits
  charts/external-dns/Chart.lock
  charts/external-dns/Chart.yaml
  charts/external-dns/HELM.md
  charts/external-dns/charts/openlane-gcp-iam-policy-members-0.1.0.tgz
  charts/external-dns/charts/openlane-gcp-workload-identity-0.1.0.tgz
  charts/external-dns/openlane.yaml
  charts/external-dns/test.yaml
  charts/external-dns/values.yaml
Labels: external-dns

name override test
  charts/external-dns/HELM.md
  charts/external-dns/values.yaml
Labels: external-dns

alias
  charts/external-dns/Chart.yaml
  charts/external-dns/HELM.md
Labels: external-dns

values
  charts/external-dns/HELM.md
  charts/external-dns/values.yaml
Labels: external-dns

gateway
  charts/external-dns/HELM.md
  charts/external-dns/values.yaml
Labels: external-dns

cert manager config
  argo-apps/cert-manager.yaml
  argo-apps/external-dns.yaml
  charts/cert-manager/Chart.lock
  charts/cert-manager/Chart.yaml
  charts/cert-manager/HELM.md
  charts/cert-manager/README.md
  charts/cert-manager/charts/cert-manager-v1.17.2.tgz
  charts/cert-manager/charts/cert-manager-v1.18.0.tgz
  charts/cert-manager/charts/openlane-gcp-iam-policy-members-0.1.0.tgz
  charts/cert-manager/charts/openlane-gcp-workload-identity-0.1.0.tgz
  charts/cert-manager/templates/certificate.yaml
  charts/cert-manager/templates/cluster-issuer.yaml
  charts/cert-manager/templates/grafana-configmap-dashboards.yaml
  charts/cert-manager/templates/issuers.yaml
  charts/cert-manager/templates/prometheus-rules.yaml
  charts/cert-manager/values.yaml
  charts/external-dns/test.yaml
Labels: cert-manager, external-dns

don't be dumb
  argo-apps/cert-manager.yaml
  charts/cert-manager/HELM.md
  charts/cert-manager/values.yaml
Labels: cert-manager

riverboat
  charts/grafana/HELM.md
  charts/grafana/openlane.yaml
  charts/grafana/values.yaml
  charts/openlane/templates/riverboatui-httproute.yaml
  charts/openlane/templates/riverboatui-ingress.yaml
Labels: none

correct images
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

remove the serve
  charts/openlane/templates/riverboat-ui.yaml
Labels: none

fix cluster issuer
  charts/cert-manager/templates/cluster-issuer.yaml
Labels: cert-manager

yaml
  charts/openlane/templates/riverboat-ui.yaml
Labels: none

fix image and values
  charts/openlane/HELM.md
  charts/openlane/templates/riverboat-ui.yaml
  charts/openlane/values.yaml
Labels: none

get the secret
  charts/openlane/templates/riverboat-ui-secret.yaml
Labels: none

try and fix the ingress
  charts/openlane/templates/riverboat-ui.yaml
  charts/openlane/templates/riverboatui-ingress.yaml
  charts/openlane/templates/riverboatui-service.yaml
Labels: none

1 replica
  charts/openlane/templates/riverboat-ui.yaml
Labels: none

we don't need these
  charts/openlane/templates/openlane.yaml
  charts/openlane/templates/riverboat-ui.yaml
  charts/openlane/templates/riverboat.yaml
Labels: none

add crb
  charts/openlane/templates/rbac.yaml
Labels: none

add crb (#63)
  charts/openlane/templates/rbac.yaml
Labels: none

Update secretstore.yaml
  charts/openlane/templates/secretstore.yaml
Labels: none

csrf
  charts/openlane/templates/openlane.yaml
Labels: none

set samesitenone
  charts/openlane/templates/openlane.yaml
Labels: none

revert
  charts/openlane/templates/openlane.yaml
Labels: none

one replica
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

image sha
  charts/openlane/HELM.md
  charts/openlane/templates/openlane.yaml
  charts/openlane/values.yaml
Labels: none

add env var
  charts/openlane/templates/openlane.yaml
Labels: none

free price
  charts/openlane/templates/openlane.yaml
Labels: none

bump
  charts/openlane/HELM.md
  charts/openlane/values.yaml
Labels: none

test out csrf, start with non
  charts/openlane/templates/openlane.yaml
Labels: none

testing some next-auth stuff
  charts/openlane/templates/openlane.yaml
Labels: none

revert
  charts/openlane/templates/openlane.yaml
Labels: none

bump tag
  charts/openlane/values.yaml
Labels: none

bump tag
  charts/openlane/values.yaml
Labels: none

none same site
  charts/openlane/templates/openlane.yaml
Labels: none

bump image
  charts/openlane/values.yaml
Labels: none
